<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vatsalmehta.resumebuilder">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.vatsalmehta.resumebuilder.App"
        android:allowBackup="false"
        android:icon="@drawable/loginlogo"
        android:label="Resume Builder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.vatsalmehta.resumebuilder.MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vatsalmehta.resumebuilder.EditActivity"
            android:parentActivityName="com.vatsalmehta.resumebuilder.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vatsalmehta.resumebuilder.MainActivity" />
        </activity>
    </application>

</manifest>